.AdminSidebar-container {
    position: fixed;
    width: clamp(200px,15%,300px);
    height: 100%;
    background: linear-gradient(135deg,hsl(0, 0%, 40%), hsl(0, 0%, 65%) 60%, hsl(0, 0%, 42%));
    position: fixed;
    /* Do not adjust padding */
    /* Check AdminSidebar-content */
}

.AdminSidebar-container * {
    color: white;
    font-size: 1.4rem;
}

.AdminSidebar-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.AdminSidebar-content #title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
} 

.AdminSidebar-content .tab {
    display: flex;
    align-items: center;
    min-height: 4rem;
}

.AdminSidebar-content .tab .icons {
    font-size: 2rem;
    margin-right: 1rem;
}