.AdminItemRow {
  transition: all 0.4s ease;
}
  .AdminItemRow:hover {
  box-shadow: inset 0 0 35px hsl(0, 0%, 64%);
  z-index: 10;
}


.AdminItemRow td {
  padding: 0 20px 0 20px;
}

  .AdminItemRow #index {
  background: hsl(0, 0%, 90%);
  padding: 0;
}

.AdminItemRow #image {
  background: rgba(0, 0, 0, 0.2);
}

.AdminItemRow #image img {
  height: 100%;
}


.AdminItemRow #name {
  font-weight: bold;

}


.AdminItemRow #category span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  border: 1px solid transparent;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #ecfeff; color: #0e902a; border-color: #67f97a;
}


.AdminItemRow #price {
  font-weight: bold;
  color: rgb(5, 150, 105);
}


.AdminItemRow #stock {
  font-weight: bold;
  color: red;
}



.AdminItemRow #actions {
  width: 15rem;
  padding: 0;
}

.AdminItemRow #actions #edit,
.AdminItemRow #actions #delete {
  width: 7rem;
  height: 2.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 2px;
}
.AdminItemRow #actions #edit {
  background: rgb(0, 91, 196);
}
.AdminItemRow #actions #edit:hover{
  background: rgb(0, 80, 172);
}
.AdminItemRow #actions #edit:active{
  background: rgb(0, 67, 145);
}

.AdminItemRow #actions #delete {
  background: rgb(210, 0, 0);
}
.AdminItemRow #actions #delete:hover{
  background: rgb(190, 0, 0);
}
.AdminItemRow #actions #delete:active{
  background: rgb(150, 0, 0);
}

.AdminItemRow #actions * {
  color: white;
}