.ManageProducts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}





#ManageProducts-header {
  margin: 50px;
  background: hsl(34, 50%, 70%);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#ManageProducts-header h2 {
  margin: 10px;
}



.ManageProducts-filter {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.ManageProducts-filter .search {
  width: 50%;
}

.ManageProducts-filter div h3 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}


.ManageProducts-filter div input,
.ManageProducts-filter div select {
  height: 2.5rem;
  width: 100%;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 80%);
  padding-left: 10px;
  transition: all 0.4s ease;
}

.ManageProducts-filter div input:focus,
.ManageProducts-filter div select:focus {
  border: 2px solid hsl(0, 0%, 60%);
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
}






.admin-products-list {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.admin-products-list header {
  font-size: 2.5rem;
  font-weight: bold;
}


.admin-products-list .ManageProducts-paging  {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.admin-products-list .ManageProducts-paging  span {
  margin: 10px;
}

.admin-products-list .ManageProducts-paging  button {
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 70%);
  transition: all 0.4s ease;
}

.admin-products-list .ManageProducts-paging  button:hover:not(:disabled) {
  background: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 50%);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
}

.admin-products-list .ManageProducts-paging  button:active {
  background: hsl(0, 0%, 90%);
}

.admin-products-list .ManageProducts-paging button:disabled{
  background: hsl(0, 0%, 87%);
  border: none;
}






.admin-products-list #table {
  background: rgb(199, 199, 199);
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
  border: 6px solid grey;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.admin-products-list #table th:last-child,
.admin-products-list #table td:last-child {
  border-right: none;
}

.admin-products-list #table tr:last-child td {
  border-bottom: none;
}


.admin-products-list #table th,
.admin-products-list #table td {
  border-bottom: 1px solid grey;
  border-right: 1px solid lightgrey ;
  text-align: center;
}


.admin-products-list #table th {
  height: 3rem;
  background: hsl(0, 0%, 80%);
}

.admin-products-list #table td {
  height: 5rem;
}

.admin-products-list #table .index {
  background: hsl(0, 0%, 70%);
  width: 30px;
}

/* Alternate light and dark shade between each row */
.admin-products-list #table tbody tr {
    background-color: hsl(0, 0%, 100%); 
}
.admin-products-list #table tbody tr:nth-child(even) {
    background-color: hsl(0, 0%, 95%); 
}






/* Overlay on top of app for when ProducForm is active */
#ProductForm-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}





/* Add product button */
#add-product {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 11rem;
  height: 4rem;
  z-index: 100;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  background: rgb(0, 172, 0);
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  box-shadow: 0px 0px 12px 0px rgb(30, 155, 41);
}
#add-product:hover {
  background: rgb(0, 159, 0);
}
#add-product:active {
  background: rgb(0, 139, 0);
}

#add-product * {
  color: white;
}